.friendrow {
  display: flex;
  color: rgba($color: #000000, $alpha: 0.8);
}

.friend {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  font-size: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-right: 16px;
}
