.friendrow {
  display: flex;
}

.friend {
  img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
  }
  font-size: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
